DOCKER_REGISTRY= # Used for release/deploy with Makefile. Let it empty for DockerHub.

# ======================================================================================
# DOCKER-COMPOSE CONFIG
# --------------------------------------------------------------------------------------
# These are used only for docker-compose.
# ======================================================================================

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sphinx
DB_PORT=5432
REDIS_PORT=6379
MAILHOG_SMTP_PORT=1025
MAILHOG_WEB_PORT=8025

# ======================================================================================
# SPHINX CONFIG
# --------------------------------------------------------------------------------------
# Check internal/config/config.go for more details on each config variable, including
# default values.
# ======================================================================================

APP_ENV=development
DATABASE_URL=postgres://${DB_USER:-postgres}:${DB_PASSWORD:-postgres}@localhost:${DB_PORT:-5432}/${DB_NAME:-sphinx}?sslmode=disable
REDIS_URL=redis://localhost:${REDIS_PORT:-6379}/0
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=sphinx  # ignored in development mode, but required by config struct
SMTP_PASSWORD=dummy   # ignored in development mode, but required by config struct

SCHEME=
HOST=
APP_VERSION=
ROOT_APP_ID=

APP_NAME=
APP_STYLE_URL=
APP_LOGO_URL=
SUPPORT_EMAIL=
FALLBACK_LANGUAGE=

MAX_CONCURRENT_SESSIONS=
AUTH_GRANT_LIFETIME_IN_SEC=
JWT_ACCESS_LIFETIME_IN_SEC=
JWT_REFRESH_LIFETIME_IN_SEC=
JWT_ALGORITHM=
JWT_SECRET=
JWT_ENCRYPTION_KEY=
JWT_KEY_ROTATION_INTERVAL_HOURS=

CLIENT_BASE_URL=
CLIENT_DATA_VERIFICATION=
CLIENT_PASSWORD_RESET=

# The below variables are expected to be JSON strings.
SWAGGER_AUTH=
EMAIL_TEMPLATES=
EXTERNAL_AUTH_PROVIDERS=